In [3]:
import pandas as pd
import os
path = os.path.join("Montreal_Crime_Data.csv")
montrealCrime = pd.read_csv(path)
montrealCrime.head()

,Unnamed: 0,category,date,postal_code,city,neighbourhood,year,count,longitude,latitude
0,0,Motor vehicle theft,2018-09-13,H1Z 1S9,MONTREAL,Saint-Michel,2018,1,-73.626,45.567
1,1,Motor vehicle theft,2018-04-30,H1Z 1S9,MONTREAL,Saint-Michel,2018,1,-73.626,45.567
2,2,Home Invasion,2018-01-10,H1Z 2V6,MONTREAL,Saint-Michel,2018,1,-73.629,45.569
3,3,Mischief,2018-11-12,H1Z 2V6,MONTREAL,Saint-Michel,2018,1,-73.629,45.569
4,4,Mischief,2018-08-15,H1Z 2V6,MONTREAL,Saint-Michel,2018,1,-73.629,45.569

In [4]:

X = montrealCrime[["year", "city"]]
y = montrealCrime[["category"]]
X.head()

   year      city
0  2018  MONTREAL
1  2018  MONTREAL
2  2018  MONTREAL
3  2018  MONTREAL
4  2018  MONTREAL

In [5]:
len(X[X.isna().any(axis=1)])

0

In [6]:
from sklearn import preprocessing

ohe = preprocessing.OneHotEncoder().fit(X[["city"]])
city = ohe.transform(X[["city"]]).toarray()
city = pd.DataFrame(city, columns=["ANJOU", "BAIE-D'URFE", "BEACONSFIELD", "COTE SAINT-LUC", "DOLLARD-DES-ORMEAUX", "DORVAL", "HAMPSTEAD", "KIRKLAND", "LACHINE", "LASALLE", "L'ILE-BIZARD", "MONTREAL", "MONTREAL-EST", "MONTREAL-NORD", "MONTREAL-OUEST", "MONT-ROYAL", "OUTREMONT", "PIERREFONDS", "POINTE-AUX-TREMBLES", "POINTE-CLAIRE", "ROXBORO", "SAINTE-ANNE-DE-BELLEVUE", "SAINTE-GENEVIEVE", "SAINT-LAURENT", "SAINT-LEONARD", "SENNEVILLE", "VERDUN", "WESTMOUNT"])
X = pd.concat([X, city], axis=1)
X.drop(["city"],  axis=1, inplace=True)
X.head()

,year,ANJOU,BAIE-D'URFE,BEACONSFIELD,COTE SAINT-LUC,DOLLARD-DES-ORMEAUX,DORVAL,HAMPSTEAD,KIRKLAND,LACHINE,...,POINTE-AUX-TREMBLES,POINTE-CLAIRE,ROXBORO,SAINTE-ANNE-DE-BELLEVUE,SAINTE-GENEVIEVE,SAINT-LAURENT,SAINT-LEONARD,SENNEVILLE,VERDUN,WESTMOUNT
0,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size = 0.2, random_state = 42
)

len(X_train), len(X_test)

(109313, 27329)

In [8]:
#from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
#from sklearn.svm import SVC
#from sklearn.gaussian_process import GaussianProcessClassifier
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.naive_bayes import GaussianNB
#from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

algorithms = {
    "Nearest Neighbors" : KNeighborsClassifier(3),
    "Stochastic Gradient Descent" : SGDClassifier(),
    #"Linear SVM" : SVC(kernel="linear", C=0.025),
    #"Gaussian Process" : GaussianProcessClassifier(1.0 * RBF(1.0)),
    #"Decision Tree" : DecisionTreeClassifier(max_depth=5),
    #"Random Forest" : RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    #"Neural Net" : MLPClassifier(alpha=1, max_iter=1000),
    #"Naive Bayes" : GaussianNB(),
    #"LDA" : LinearDiscriminantAnalysis(),
}


for name, algorithm in algorithms.items():
    
    algorithm.fit(X_train, y_train.values.ravel())

    score = algorithm.score(X_test, y_test)
    print(name, round(score,2))

Nearest Neighbors 0.21
Stochastic Gradient Descent 0.32

In [9]:
import joblib
joblib.dump(algorithms["Nearest Neighbors"], 'montreal_random_forest.joblib')
best_model = joblib.load('montreal_random_forest.joblib')
best_model

KNeighborsClassifier(n_neighbors=3)

In [ ]:
tim = pd.DataFrame([[2019, 1]], columns=X_train.columns)
tim = scale(leo, ["year", "city"], standard_scaler)
tim.head()